<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Organization Tree</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqtree/1.8.0/jqtree.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqtree/1.8.0/tree.jquery.js"></script>
    <style>
        #container {
            display: flex;
        }
        #treeContainer {
            flex: 1;
            margin-right: 20px;
        }
        #detailsContainer {
            flex: 1;
        }
        .input-container {
            display: none;
        }

        .hidden-node {
            display: none;
        }
        .highlight-node > .jqtree-element > .jqtree-title {
            font-weight: bold;
        }
        #search-term {
            margin-bottom: 16px;
            margin-right: 8px;
        }
    </style>
</head>
<body>
<a href="/org/makeData">makeData</a>&nbsp;
<a href="/org/tree">tree</a>&nbsp;
<button id="saveBtn">Save Changes</button>
<a href="/tree/getData">getData</a>&nbsp;
<div id="container">
    <div id="treeContainer">
        <div>
            <input id="search-term" autofocus></input>
            <button id="search">Search</button>
            </div>
        <div id="tree"></div>
    </div>
    <div id="detailsContainer">
        <h3>Node Details</h3>
        <p>Name: <label id="nodeNameLabel"></label><input type="text" id="nodeNameInput" class="input-container"></p>
        <p>ID: <label id="nodeIdLabel"></label><input type="text" id="nodeIdInput" class="input-container"></p>
        <p>Parent: <label id="parentNodeLabel"></label><input type="text" id="parentNodeInput" class="input-container"></p>
        <p>UpOrgCd: <label id="upOrgCdLabel"></label><input type="text" id="upOrgCdInput" class="input-container"></p>
        <p>SEQ: <label id="sqLabel"></label><input type="text" id="sqInput" class="input-container"></p>
        <p>ManagerId: <label id="mgrIdLabel"></label><input type="text" id="mgrIdInput" class="input-container"></p>
        <p>ManagerName: <label id="mgrNmLabel"></label><input type="text" id="mgrNmInput" class="input-container"></p>
        <button id="editBtn">Edit</button>
        <button id="saveChangesBtn" class="input-container">Save Changes</button>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '/tree/getData',
            success: function (data) {
                var treeData = buildTreeData(data);

                $('#tree').tree({
                    data: treeData,
                    autoOpen: true,
                    dragAndDrop: true,
                    closedIcon: '+',
                    openedIcon: '-',
                    onCreateLi: (node, $el) => {
                        if (foundMatch && !node.openForMatch && !node.parent.matches) {
                            $el.addClass("hidden-node");
                        }

                        if (node.matches) {
                            $el.addClass("highlight-node");
                        }
                    }
                });
            }
        });

        $('#tree').on( 'tree.click', function(e) {
            var selected_node = e.node;
            $('#nodeNameLabel').text(selected_node.name);
            $('#nodeIdLabel').text(selected_node.id);
            $('#parentNodeLabel').text(selected_node.parent ? selected_node.parent.name : 'None');
            $('#upOrgCdLabel').text(selected_node.upOrgCd);
            $('#sqLabel').text(selected_node.sq);
            $('#mgrIdLabel').text(selected_node.mgrId);
            $('#mgrNmLabel').text(selected_node.mgrNm);

            $('.input-container').hide(); // 입력 필드 숨기기
            $('.input-container').prev('label').show(); // 라벨 보이기
        });

        $('#editBtn').on('click', function() {
            $('#nodeNameInput').val($('#nodeNameLabel').text());
            $('#nodeIdInput').val($('#nodeIdLabel').text());
            $('#parentNodeInput').val($('#parentNodeLabel').text());
            $('#upOrgCdInput').val($('#upOrgCdLabel').text());
            $('#sqInput').val($('#sqLabel').text());
            $('#mgrIdInput').val($('#mgrIdLabel').text());
            $('#mgrNmInput').val($('#mgrNmLabel').text());

            $('.input-container').show(); // 입력 필드 보이기
            $('.input-container').prev('label').hide(); // 라벨 숨기기
        });

        $('#saveChangesBtn').on('click', function() {
            $('#nodeNameLabel').text($('#nodeNameInput').val());
            $('#nodeIdLabel').text($('#nodeIdInput').val());
            $('#parentNodeLabel').text($('#parentNodeInput').val());
            $('#upOrgCdLabel').text($('#upOrgCdInput').val());
            $('#sqLabel').text($('#sqInput').val());
            $('#mgrIdLabel').text($('#mgrIdInput').val());
            $('#mgrNmLabel').text($('#mgrNmInput').val());

            var selected_node = $('#tree').tree('getSelectedNode');
            selected_node.name = $('#nodeNameInput').val();
            selected_node.id = $('#nodeIdInput').val();
            selected_node.sq = $('#sqInput').val();
            selected_node.mgrId = $('#mgrIdInput').val();
            selected_node.mgrNm = $('#mgrNmInput').val();
            selected_node.upOrgCd = $('#upOrgCdInput').val();

            $('.input-container').hide(); // 입력 필드 숨기기
            $('.input-container').prev('label').show(); // 라벨 보이기

            // 변경 내용 저장
            $('#saveBtn').click();
        });

        function buildTreeData(nodes) {
            var treeData = [];
            for (var i = 0; i < nodes.length; i++) {
                var node = nodes[i];
                var treeNode = {
                    name: node.orgNm,
                    id: node.orgCd,
                    sq: node.sq,
                    mgrId: node.mgrId,
                    mgrNm: node.mgrNm,
                    upOrgCd: node.upOrgCd
                };
                if (node.children && node.children.length > 0) {
                    treeNode.children = buildTreeData(node.children);
                }
                treeData.push(treeNode);
            }
            return treeData;
        }

        $('#saveBtn').click(function () {
            var modifiedTreeData = $('#tree').tree('toJson');
            $.ajax({
                type: 'POST',
                url: '/tree/save',
                contentType: 'application/json',
                data: modifiedTreeData,
                success: function (response) {
                    alert('Changes saved successfully!');
                },
                error: function () {
                    alert('Failed to save changes!');
                }
            });
        });


        const $tree = $("#tree");
        let foundMatch = false;
        $("#search").on("click", () => {
        const searchTerm = $("#search-term").val().toLowerCase();
        const tree = $tree.tree("getTree");

        if (!searchTerm) {
            foundMatch = false;

            tree.iterate((node) => {
                node['openForMatch'] = false;
                node["matches"] = false;
                return true;
            });

            $tree.tree("refresh");
            return;
        }

        foundMatch = false;

        tree.iterate((node) => {
            const matches = node.name.toLowerCase().includes(searchTerm);
            node["openForMatch"] = matches;
            node["matches"] = matches;

            if (matches) {
                foundMatch = true;

                if (node.isFolder()) {
                    node.is_open = true;
                }

                let parent = node.parent;
                while (parent) {
                    parent["openForMatch"] = true;
                    parent.is_open = true;
                    parent = parent.parent;
                }
            }

            return true;
        });

        $tree.tree("refresh");
    });



    });

    /*]]>*/
</script>

</body>
</html>
